<div class="table-container" *ngIf="employees.length > 0">
  <table mat-table [dataSource]="employees">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="medium-text"> {{'Name' | translate}} </th>
      <td mat-cell *matCellDef="let employee" class="small-text"> {{employee.name}} </td>
    </ng-container>
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef class="medium-text"> {{'Department' | translate}} </th>
      <td mat-cell *matCellDef="let employee" class="small-text"> {{employee.department | translate}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef class="medium-text"> {{'Phone' | translate}} </th>
      <td mat-cell *matCellDef="let employee" class="small-text"> {{employee.phone}} </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef class="medium-text"> {{'City' | translate}} </th>
      <td mat-cell *matCellDef="let employee" class="small-text"> {{employee.address.city}}</td>
    </ng-container>
    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef class="medium-text"> {{'Street' | translate}} </th>
      <td mat-cell *matCellDef="let employee" class="small-text"> {{employee.address.street}}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="medium-text"> </th>
      <td mat-cell *matCellDef="let employee" class="small-text">
        <button class="delete-btn" mat-raised-button (click)="openDialog(employee.name, employee.id)">{{'Delete' | translate}}</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<p class="large-text msg" *ngIf="employees.length == 0">{{'There is no employees added' | translate}}.</p>

