<!--<p class="large-text msg" *ngIf="notificationMsg">{{notificationMsg | translate}}.</p>-->

<app-error-message [errorMsg]="errorMsg"></app-error-message>
<app-filters (callbackFunction)="getFilters($event)"></app-filters>
<p class="medium-text msg" *ngIf="!(storeEmployees$ | async)?.length">{{'There is no employees' | translate}}</p>
<!--*ngIf="employees.value.length > 0"-->
<div class="table-container" *ngIf="(storeEmployees$ | async)?.length">
  <div class="table">
    <table mat-table [dataSource]="storeEmployees$">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="medium-text"> {{'Name' | translate}} </th>
        <td mat-cell *matCellDef="let employee" class="small-text"> {{employee.employee_name}} </td>
      </ng-container>
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef class="medium-text"> {{'Department' | translate}} </th>
        <td mat-cell *matCellDef="let employee" class="small-text"> {{employee.department.department_name | translate}} </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef class="medium-text"> {{'Phone' | translate}} </th>
        <td mat-cell *matCellDef="let employee" class="small-text"> {{employee.phone}} </td>
      </ng-container>
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef class="medium-text"> {{'City' | translate}} </th>
        <td mat-cell *matCellDef="let employee" class="small-text"> {{employee.city}}</td>
      </ng-container>
      <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef class="medium-text"> {{'Street' | translate}} </th>
        <td mat-cell *matCellDef="let employee" class="small-text"> {{employee.street}}</td>
      </ng-container>
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef class="medium-text"> </th>
        <td mat-cell *matCellDef="let employee" class="small-text">
          <div class="btn-col">
            <button class="delete-btn btn" mat-raised-button (click)="openDialog(employee.employee_name, employee.id)">{{'Delete' | translate}}</button>
            <a routerLink="/edit-employee/{{employee.id}}"><button class="edit-btn btn" mat-raised-button >{{'Edit' | translate}}</button></a>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="paginator"
                   [length]="(employeesCounter$ | async)"
                   [pageSize]="3"
                   [pageSizeOptions]="[3, 5, 10]"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>

