@import "../../../scss/variables";

table {
  margin-bottom: 20px;
  width: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.paginator{
  width: 100%;
  background: $components-background;
}

.table{
  width: 80%;
  @media (max-width: $breakpoint-small) {
    width: 100%;
  }
}

.table-container{
  overflow-x: auto;
  display: flex;
  justify-content: center;
  @media (max-width: $breakpoint-small) {
    display: block;
  }
}

.mat-row {
  height: auto;
  background: $table-row;
}

.mat-row:nth-child(odd) {
  background: $table-odd-row;
}

.mat-row:hover {
  background: $table-row-hover;
}

.mat-header-cell{
  background: $table-header;
}

.mat-cell {
  padding: 15px 20px 15px 0;
}

.mat-column-buttons{
  width: 200px !important;
}

.btn{
  padding: 6px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  width: 90px;
}

.delete-btn{
  background: rgb(220, 164, 164);
  @media (max-width: $breakpoint-small){
    margin-bottom: 2px;
  }
}

.edit-btn{
  background: rgb(102, 179, 255);
  @media (max-width: $breakpoint-small){
    margin-top: 2px;
  }
}

.edit-btn:hover{
  background: rgb(47, 126, 215);
}

.delete-btn:hover{
  background: rgb(168, 114, 114);
}

.btn-col{
  display: flex;
  justify-content: space-around;
  @media (max-width: $breakpoint-small){
    flex-direction: column;
  }
}

.msg{
  text-align: center;
}



