<app-error-message [errorMsg]="errorMsg"></app-error-message>

<div class="form-container">
  <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
    <div class="row">
      <div class="col">
        <div class="row">
          <label class="small-text" for="employee_name" >{{'Name' | translate}}: </label><br>
          <span *ngIf="employee_name?.invalid && (employee_name?.dirty || employee_name?.touched)">
            <span class="small-text" *ngIf="employee_name?.errors?.['required']"> {{'Name is required' | translate}}.</span>
          </span>
        </div>
        <input class="" id="employee_name" type="text" formControlName="employee_name" >
      </div>
      <div class="col">
        <div class="row">
          <label class="small-text" for="phone">{{'Phone' | translate}}: </label><br>
          <span *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
            <span class="small-text" *ngIf="phone?.errors?.['required']"> {{'Phone is required' | translate}}.</span>
          </span>
        </div>
        <input class="" id="phone" type="number"  formControlName="phone" >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <label class="small-text" for="city">{{'City' | translate}}: </label><br>
          <span *ngIf="city?.invalid && (city?.dirty || city?.touched)">
            <span class="small-text" *ngIf="city?.errors?.['required']"> {{'City is required' | translate}}.</span>
          </span>
        </div>
        <input class="" id="city" type="text" formControlName="city" >
      </div>
      <div class="col">
        <div class="row">
          <label class="small-text" for="street">{{'Street' | translate}}: </label><br>
          <span *ngIf="street?.invalid && (street?.dirty || street?.touched)">
            <span class="small-text" *ngIf="street?.errors?.['required']"> {{'Street is required' | translate}}.</span>
          </span>
        </div>
        <input class="" id="street" type="text" formControlName="street" >
      </div>
    </div>
    <div class="select-div">
      <select formControlName="department_id">
        <option value="" selected disabled>{{'Select department' | translate}}</option>
        <option value="1">{{'Finance' | translate}}</option>
        <option value="2">{{'HR' | translate}}</option>
        <option value="3">{{'Marketing' | translate}}</option>
        <option value="4">{{'Sales' | translate}}</option>
      </select>
    </div>
    <div class="btn-div">
      <button class="btn" type="submit" id="btn-add" [disabled]="!employeeForm.valid">{{'Submit' | translate}}</button>
    </div>
  </form>
</div>
