<div class="filters-container">
  <form [formGroup]="filterForm">
    <button class="btn" (click)="filter()">{{'Filter' | translate}}</button>

    <mat-form-field appearance="fill">
      <mat-label>Filter by department</mat-label>
      <mat-select formControlName="departmentId">
        <mat-option value="0">All</mat-option>
        <mat-option *ngFor="let department of departments" [value]="department.department_id">
          {{department.department_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Filter by city</mat-label>
      <mat-select formControlName="city">
        <mat-option value="0">All</mat-option>
        <mat-option *ngFor="let city of cities" [value]="city.name">
          {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
