@import "../../../scss/variables";

.container{
  padding: 0 5px 0 5px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  background:$input-background;
  border-style: none;
  height: 35px;
  border-radius: 5px;
  margin: 5px;
  font-size: 14px;
}

.content{
  width: 50vw;
  height: 70px;
  font-size: 14px;
  @media (max-width: $breakpoint-medium) {
    width: 90vw;
  }
}

.messages-container{
  padding: 0 5px 0 5px;
  overflow-y: auto;
  width: 50vw;
  @media (max-width: $breakpoint-medium) {
    width: 90vw;
  }
}

.message{
  display: inline-block;
  background: white;
  padding: 10px;
  max-width: 350px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Roboto, sans-serif';
  margin-bottom: 10px;
  span{
    font-weight: 550;
  }
}

.message-wrapper{
  display: flex;
  justify-content: start;
}

.isOwn{
  justify-content: end;
}

.btn{
  border-style: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: $btn-color;
  font-family: 'Roboto, sans-serif';
  font-size: 17px;
  font-weight: bold;
  color: $secondary-text-color;
  @media (max-width: $breakpoint-large) {
    width: 40vw;
  }
}

.btn:hover{
  background-color: $btn-hover-color
}

#btn-send:disabled{
  background-color: $btn-disabled-color
}
