$breakpoint-small: 576px;

$breakpoint-medium: 768px;

$breakpoint-large: 992px;

$table-odd-row: rgb(204, 235, 255);

$table-row: rgb(153, 214, 255);

$table-row-hover: rgb(51, 156, 255);

$table-header: rgb(0, 119, 230);

$primary-text-color: #262626;

$secondary-text-color: #595959;

$input-background: rgb(179, 231, 255);

$components-background: rgb(230, 247, 255);

$header-background: rgb(0, 174, 255);
